body{
    margin: 0;
    padding: 0;
    background-color: #F3F1F6;
}

.header {
    background-color: #2D1D43; 
    height: 260px;
}
/* Esilehel header suurem*/
.header-index {
    background-color: #2D1D43; 
    height: 500px;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}
nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-right: 40px;
    padding-top: 30px;
    
}

nav ul li{
    padding-right: 40px;
}


nav ul li a{
    color: white;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;

}
.topnav {
    display: none; 
}


@media (max-width: 600px) {
    .desktop-menu {
        display: none; 
    }
}

.votke{
    background-color: #8E43F0;
    color: white;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Index style*/
.title-main {
    
    padding-left: 50px;
    font-size: 2.1rem;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 550;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box1 {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.box2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10%;
}

#teenused {
    background-color: #8E43F0;
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: inline; 
    padding: 10px 20px; 
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
    border: none;
}

/* Meist style*/
.container {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.box {
    width: 200px;
    padding: 10px;
    margin: 20px;
    background-color: #C8C3D2;
    color: #47525E;
    text-align: center;
    border-radius: 10px; 
}

.bottom-box {
    background-color: #C8C3D2; 
}

a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .box {
        width: 90%;
        height: auto;
    }
    .header-index {
        height: fit-content;
    }
    .title-main {
        font-size: 25px;
        padding-left: 0;
    }
    .container-left {
        align-items: center;
        margin: 0;
    }
    #teenused {
        margin-left: 0;
    }
}

#tutvuge {
    background-color: #8E43F0;
    color: white;
    margin-top: 15%;
    padding: 15px 20px;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container-meeskond {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.box-meeskond {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    max-width: 400px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    font-size: 18px;
    color: #47525E;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image {
    padding: 10px; 
    width: 50%; 
}
img {
    max-width: 100%;
    height: auto;
}

.content {
    flex: 1;
    text-align: left;
}


/** landing page **/

.sissejuh-wrapper {
    display: flex;
    margin: 5% 10%;
}

.sissejuh-img {
    margin-left: 5%;
}

.sissejuh-text{
    margin-right: 5%;
    padding-top: 0%;
}

.sissejuh-text h3{
    margin: 0;
}




.teenus-wrapper{
    background-color: #cec7d3;
    display: flex;
    flex-direction: column;
}

.teenus-text{
    margin: 5% 35%;
}

.teenus-inner-wrapper {
    margin: 2% 20%;
    display: flex;
    flex-wrap: wrap;

}

.teenus-inner-wrapper div {
    width: 30%;
    background-color: aqua;
    margin: 5px;
    text-align: center;
}




.portfell-wrapper {
    background-color: rgb(241, 234, 234);
    margin-top: 0;
    text-align: center;
    padding-bottom: 5%;
}

.portfell-text {
    text-align: center;
    padding-top: 5%;
}

.portfell-text h2{
    margin-top: 0;

}

.portfell-imgs {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 10%;
}

.portfell-imgs img{
    margin: 2.5% 2.5%;
    width: 20%;
}




footer {
    display: flex;
    background-color: #2D1D43; 
    color: white;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    margin-left: 5%;
}
.footer-img-wrapper {
    display: flex;
}

.footer-logo img {
    height: 24px;
    width: auto;
}

.footer-links {
    margin-left: 15%;
}

.footer-links ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-right: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    
}

.footer-links ul li{
    padding-right: 40px;
}

.footer-links ul li a{
    color: white;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
}





.footer-contact {
    margin-left: 15%;
}

.footer-contact ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-right: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    
}

.footer-contact ul li{
    padding-right: 40px;
}

.footer-contact ul li a{
    color: white;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
}